<li class='dropdown'>
    <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
    <span>
      Connexion
      <i class='fa-icon-angle-down'></i>
    </span>
    </a>
    <ul class='dropdown-menu' role='menu'>
        <li class=''>
            <a href={{ path('fos_user_security_login') }}>Connexion</a>
        </li>
        <li class=''>
            <a href={{ path('fos_user_registration_register') }}>Créer Compte</a>
        </li>
    </ul>
</li>