{# src/AdminBundle/Resources/views/admin/add.html.twig #}

{% extends "::admin.html.twig" %}

{% block body %}

  <h2>Ajouter une Machine</h2>

  {{ include("AdminBundle:Admin:form.html.twig") }}

  <p>
    Attention : cette Machine sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}
